sphinx==8.2.3
sphinx-autodoc-typehints==3.1.0
furo==2024.8.6
myst-parser==4.0.1
sphinx-new-tab-link==0.8.0
sphinx-multiversion==0.2.4
click==8.3.0
colorama==0.4.6
numpy==2.3.4
pandas==2.3.3
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
tqdm==4.67.1
transcripts18xx @ git+https://git@github.com/codePascal/transcripts18xx.git@3791b52af834205e350b26f1cf42dbbf3475df9c
tzdata==2025.2